body{
  background-color: rgb(193, 173, 224);
  color: rgb(46, 51, 92);
  font-size: 22px;
  text-align: center;
  font-family: serif;
}

.appContainer{
  display: grid;
  grid-template-columns: auto auto auto;
}

.homeLink{
  grid-column: 2;
}

.mainTitle{
  grid-column: 2;
}

.workLink{
  grid-column: 1;
}

.personalLink{
  grid-column: 2;
}

.billLink{
  grid-column: 3;
}