body{
  background-color: rgb(209, 162, 209);
  color: rgb(136, 55, 136);
  font-family: serif;
  text-align: center;
}

span{
  font-size: 15px;
  text-align: left;
}

button{
  background-color: rgb(136, 55, 136);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(136, 55, 136);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
}

button:hover{
  background-color: rgb(94, 26, 94);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(94, 26, 94);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
}

input{
  background-color: rgb(209, 162, 209);
  color: rgb(94, 26, 94);
  border: 1px solid rgb(136, 55, 136);
  border-radius: 4%;
  height: 20px;
  margin: 6px;
  width: 205px;
  margin-bottom: 5px;
}

/* //////////////////////// */
/*     Register/Login */
/* //////////////////////// */


.regLogContainer{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
}

.formP{
  grid-column: 5/9;
  grid-row: 1;
}
