body{
    text-align: center;
    padding-top: 6px;
    color: rgb(54, 54, 109);
    background-color: rgb(214, 168, 50);
    font-weight: bolder;
}

.header{
   
    font-family: serif;
    font-size: 32px;
}

.container{
    display: grid;
    grid-template-columns: 
    auto auto auto auto auto auto;
    margin-left: 5px;
}

.sign{
    width: 230px;
    padding: 3%;
    margin: 3%;  
    text-align: center;
}

.infoDisplay{
    color: rgb(54, 54, 109);
    font-size: 16px;
    font-family: serif;
}

.infoContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.yourSign{
    font-size: 30px;
    color: rgb(119, 59, 9);
    text-align: center;
    padding-bottom: 5%;
}

.signSpan{
color: rgb(182, 41, 53);
}

span{
    color: rgb(119, 59, 9);
}

.symbols{
    grid-column: 1;
    text-align: left;
    font-size: 12px;
    color: rgb(54, 54, 109);
    padding-top: 20px;
    padding-left: 180px;
}

.motto{
    grid-column: 2;
    width: 92%;
    color: rgb(54, 54, 109);
    text-align: center;
}

.strengths{
    grid-column: 3;
    width: 78%; 
    color: rgb(54, 54, 109);
    padding-left: 20px;
    padding-top: 20px;
    
}
