body{
  background-color: purple;
  color: pink;
  text-align: center;
  font-family: serif;
  font-size: 24px;
}

.links{
  color: rgb(219, 179, 68);
  padding: 1%;
  margin: 1%;
  font-size: 22px;
}

.textCenter{
  width: 40%;
  margin-left: 30%;
  font-size: 24px;
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form{
  margin-top: 1%;
}

fieldset{
  border: 3px solid rgb(219, 179, 68);
}
legend{
  font-size: 28px;
}

.padding{
padding: 1%;
text-align: center;
}

input{
  background-color: rgb(219, 179, 68);
  color: purple;
}

button{
  background-color: rgb(219, 179, 68);
  color: purple;
  font-family: serif;
  font-size: 17px;
  height: 27px;
  font-weight: bold;
}

.breaks{
  border-bottom: 2px solid rgb(219, 179, 68);
}

.display{
  font-size: 17px;
  text-align: left;
  margin-left: 3%;
}

.monetImage{
  width: 530px;
}

.nameSize{
  font-size: 22px;
}

.bandImage{
  width: 530px;
}

.hookImage{
  width: 530px;
}

.officeImage{
  width: 490px;
}

.outerWorldsImage{
  width: 550px;
}

.bookImage{
  width: 450px;
}


span{
  font-weight: bold;
  color: rgb(31, 180, 17);
}